---
import Layout from '../layouts/Layout.astro'
import { getCollection } from 'astro:content'
import { Image } from '@astrojs/image/components'
import EpisodeList from '../components/EpisodeList.astro'
import YellowBlob from '../components/YellowBlob.astro'
import PinkBlob from '../components/PinkBlob.astro'
import GreenBlob from '../components/GreenBlob.astro'
import keysArrows from '../images/keys-arrows.png'
import keysLV from '../images/keys-lv.png'
import keysHome from '../images/keys-home.png'

const episodes = await getCollection('episodes')

const sortedEpisodes = episodes
  .slice()
  .sort((a, b) => b.data.date.getTime() - a.data.date.getTime())
---

<Layout title="avsnitt">
  <main class="main">
    <section class="content">
      <h1 class="title">våra avsnitt</h1>
      <EpisodeList episodes={sortedEpisodes} class="episodes" />
    </section>
    <Image src={keysArrows} alt="" class="keys-arrows bg-image" />
    <Image src={keysLV} alt="" class="keys-lv bg-image" />
    <Image src={keysHome} alt="" class="keys-home bg-image" />
    <YellowBlob class="yellow-blob" />
    <PinkBlob class="pink-blob" />
    <GreenBlob class="green-blob" />
  </main>
</Layout>

<style>
  .title {
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
    margin-left: -3rem;
    margin-bottom: 1rem;
    transform: rotateZ(-4deg);
  }
  .main {
    position: relative;
  }
  .content {
    margin-top: 48px;
  }
  .yellow-blob {
    top: -200px;
    left: -600px;
  }
  .keys-arrows {
    top: 350px;
    left: -160px;
    width: 200px;
    transform: rotateZ(-10deg);
  }
  .pink-blob {
    right: -950px;
    top: 25%;
    transform: rotateZ(55deg);
  }
  .keys-lv {
    top: 1000px;
    width: 220px;
    left: -320px;
    transform: rotateZ(160deg);
  }
  .green-blob {
    transform: rotateZ(-60deg);
    left: -800px;
    bottom: 200px;
  }
  .keys-home {
    top: calc(25% + 1000px);
    right: -120px;
    width: 200px;
  }

  @media (max-width: 720px) {
    .main {
      align-items: center;
    }
    .title {
      margin-left: 0;
      width: fit-content;
    }

    .episodes {
      width: fit-content;
    }
  }
</style>
