---
import Footer from '../components/Footer.astro'
import GreenBlob from '../components/GreenBlob.astro'
import YellowBlob from '../components/YellowBlob.astro'
import Layout from '../layouts/Layout.astro'
import keysEnter from '../images/keys-enter.png'
import keysHeart from '../images/keys-heart.png'
import keysHome from '../images/keys-home.png'
import { Image } from '@astrojs/image/components'
import UnderlinedLink from '../components/UnderlinedLink.astro'
---

<Layout title="hitta avsnitt - asdf">
  <main class="main">
    <h1>Hitta avsnitt</h1>
    <input id="searchInput" class="doodle" placeholder="Skriv n책tt du vill hitta h채r" />
    <div id="episodeList"></div>
    <button class="load-more doodle hidden">Ladda fler</button>
    <Footer />
    <GreenBlob class="green-blob" />
    <Image src={keysEnter} alt="" class="keys-enter bg-image" />
    <Image src={keysHeart} alt="" class="keys-heart bg-image" />
    <Image src={keysHome} alt="" class="keys-home bg-image" />
  </main>
  <div class="yellow-blob-wrapper">
    <YellowBlob class="yellow-blob" />
  </div>
  <UnderlinedLink href="#" class="hidden" id="underlined-link" />
</Layout>

<script>
  import algoliasearch from 'algoliasearch/lite'

  const intl = new Intl.DateTimeFormat('sv-SE', { dateStyle: 'long' })

  const debounce = (func: Function, delay: number) => {
    let timer: ReturnType<typeof setTimeout>
    return (...args: any) => {
      clearTimeout(timer)
      timer = setTimeout(() => {
        func(...args)
      }, delay)
    }
  }

  const removeLinksInBrackets = (content: string) => {
    return content.replace(/\[.*?\]/g, '')
  }

  const createUnderlinedLink = () => {
    var elem = document.querySelector('#underlined-link') as HTMLAnchorElement
    if (!elem) throw new Error('Underlined link not found')

    var clone = elem.cloneNode(true) as HTMLAnchorElement
    clone.id = ''
    clone.classList.remove('hidden')

    return clone
  }

  interface Episode {
    slug: string
    title: string
    content: string
    date: string
    number: number
    joke: { setup: string; punchline: string }
    transcription: { author: string | null; timestamp: string; line: string }[]
  }

  const input = document.getElementById('searchInput') as HTMLInputElement
  const output = document.getElementById('episodeList')

  if (!input || !output) throw new Error('Input or output element not found')

  const client = algoliasearch('B59YEH9ZES', 'bdda85ef25daee6621cead0f549b5a1e')
  let data: Awaited<ReturnType<typeof search>>['hits'] = []
  let page = 0

  const loadMoreButton = document.querySelector('.load-more') as HTMLButtonElement
  loadMoreButton.onclick = async (ev) => {
    ev.preventDefault()
    page++
    const { hits, total } = await search(input.value)
    data = data.concat(hits)
    render()

    if (total > data.length) {
      loadMoreButton.classList.remove('hidden')
    } else {
      loadMoreButton.classList.add('hidden')
    }
  }

  const search = async (query: string) => {
    if (!query) return { hits: [], total: 0 }

    const { results } = await client.search<Episode>([
      {
        indexName: 'episodes',
        query,
        params: {
          hitsPerPage: 10,
          page,
        },
      },
    ])

    return { hits: results[0].hits, total: results[0].nbHits }
  }

  const clear = () => {
    output.innerHTML = ''
    data = []
    page = 0
    loadMoreButton.classList.add('hidden')
  }

  const render = () => {
    output.innerHTML = ''

    data.forEach((episodeData) => {
      if (!episodeData) return

      const episode = document.createElement('div')
      episode.classList.add('episode')

      const title = episodeData._highlightResult?.title?.value || episodeData.title
      const titleLink = document.createElement('a')
      titleLink.classList.add('episode__title')
      titleLink.href = '/' + episodeData.slug
      const titleEl = document.createElement('h3')
      titleEl.innerHTML = title
      titleLink.appendChild(titleEl)
      episode.appendChild(titleLink)

      const date = episodeData.date
      const dateEl = document.createElement('span')
      dateEl.classList.add('episode__date')
      dateEl.innerHTML = intl.format(new Date(date))
      episode.appendChild(dateEl)

      const contentEl = document.createElement('p')
      contentEl.classList.add('episode__content')
      const contentSnippet = episodeData._snippetResult?.content
      if (contentSnippet && contentSnippet.matchLevel !== 'none') {
        const content = episodeData._snippetResult?.content.value || episodeData.content
        contentEl.innerHTML = removeLinksInBrackets(content)
        episode.appendChild(contentEl)
      } else {
        const content = episodeData.content
        contentEl.innerHTML = removeLinksInBrackets(content).slice(0, 200) + '...'
        episode.appendChild(contentEl)
      }

      const lineSnippets = episodeData._highlightResult?.transcription?.filter(
        (x) => x && x.line && x.line.matchLevel !== 'none'
      )
      if (lineSnippets && lineSnippets.length > 0) {
        const firstFive = lineSnippets.slice(0, 5)
        firstFive.forEach((lineSnippet) => {
          if (!lineSnippet || !lineSnippet.line) return

          const lineEl = document.createElement('div')
          lineEl.classList.add('episode__line')

          const timeStampEl = document.createElement('span')
          timeStampEl.classList.add('episode__timestamp')
          timeStampEl.innerHTML = lineSnippet.timestamp?.value || 'N/A'

          const textEl = document.createElement('span')
          textEl.innerHTML = lineSnippet.line.value

          lineEl.appendChild(timeStampEl)
          lineEl.appendChild(textEl)

          episode.appendChild(lineEl)
        })
        if (lineSnippets.length > 5) {
          const moreHits = lineSnippets.length - 5
          const moreEl = createUnderlinedLink()
          moreEl.href = '/' + episodeData.slug
          moreEl.classList.add('episode__more')
          moreEl.querySelector('span')!.innerHTML = `...och ${moreHits} ${
            moreHits === 1 ? 'tr채ff' : `tr채ffar`
          } till i transkriptionen`
          episode.appendChild(moreEl)
        }
      }

      output.appendChild(episode)
    })
  }

  const debouncedSearch = debounce(async (value: string) => {
    const { hits, total } = await search(value)

    data = hits

    render()

    if (total > data.length) {
      loadMoreButton.classList.remove('hidden')
    } else {
      loadMoreButton.classList.add('hidden')
    }
  }, 200)

  input.addEventListener('input', (e) => {
    const value = (e.target as HTMLInputElement).value
    if (!value) {
      clear()
      return
    }
    debouncedSearch(value)
  })
</script>

<style>
  .main {
    position: relative;
  }
  .main * {
    overflow-anchor: none;
  }

  h1 {
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
  }

  #searchInput {
    margin-bottom: 36px;
    font-family: 'Shantell Sans', system-ui, sans-serif;
  }

  #episodeList {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  :global(*) {
    overflow-anchor: none;
  }

  #episodeList :global(em) {
    font-weight: bold;
    font-style: normal;
  }

  #episodeList :global(.episode__title) {
    font-weight: bold;
    font-style: normal;
    color: black;
    text-decoration: none;
  }

  #episodeList :global(.episode__title h3) {
    font-variation-settings: 'BNCE' 0, 'wght' 600;
    margin-bottom: 0;
  }

  #episodeList :global(.episode__date) {
    opacity: 0.6;
    font-family: 'Shantell Sans', system-ui, sans-serif;
    font-size: 14px;
    margin-bottom: 8px;
  }

  #episodeList :global(.episode) {
    display: flex;
    flex-direction: column;
  }

  #episodeList :global(.episode__content) {
    white-space: pre-wrap;
    margin-bottom: 16px;
  }
  #episodeList :global(.episode__line) {
    white-space: pre-wrap;
    display: flex;
    gap: 16px;
  }
  #episodeList :global(.episode__timestamp) {
    opacity: 0.6;
  }
  #episodeList :global(.episode__more) {
    margin-left: auto;
    font-family: 'Shantell Sans', system-ui, sans-serif;
    margin-top: 8px;
  }
  .load-more {
    background-color: transparent;
    font-family: 'Shantell Sans', system-ui, sans-serif;
    margin: 0 auto;
    cursor: pointer;
    margin-top: 36px;
  }

  .yellow-blob-wrapper {
    width: 500px;
    height: 500px;
    overflow: hidden;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
  }
  .yellow-blob {
    right: -250px;
    top: 180px;
  }

  .green-blob {
    top: -185px;
    left: -800px;
    transform: rotateZ(130deg);
  }

  .keys-heart {
    left: -300px;
    width: 200px;
    top: 200px;
  }
  .keys-enter {
    top: 400px;
    width: 200px;
  }
  .keys-home {
    right: -400px;
    width: 300px;
  }
  .hidden {
    display: none;
  }
</style>
