---
import Layout from '../layouts/Layout.astro'
---

<Layout title="asdf - hitta avsnitt">
  <main class="main">
    <h1>hitta avsnitt</h1>
  </main>
</Layout>

<style>
  h1 {
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
  }
</style>
