---
import Layout from '../layouts/Layout.astro'
import { getCollection } from 'astro:content'
import XmasEpisodeList from '../components/XmasEpisodeList.astro'
import Footer from '../components/Footer.astro'
import Snow from '../components/Snow.astro'
import HomeLink from '../components/HomeLink.astro'

const episodes = await getCollection('advent22')

const sortedEpisodes = episodes.slice().sort((a, b) => a.data.date.getTime() - b.data.date.getTime())
---

<Layout title="adventskalendern 2022 - asdf">
  <HomeLink class="back-link" />
  <Snow />
  <main class="main">
    <h1>julkalendern 2022</h1>
    <XmasEpisodeList episodes={sortedEpisodes} />
    <Footer />
  </main>
</Layout>

<style>
  h1 {
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
    margin-bottom: 48px;
    margin-top: 96px;
  }
  body {
    background-color: black;
    color: white;
    background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  }

  .back-link {
    filter: invert(1);
    margin: 1rem;
  }
</style>
