---
import Footer from '../components/Footer.astro'
import Layout from '../layouts/Layout.astro'
---

<Layout title="asdf - hitta avsnitt">
  <main class="main">
    <h1>Om asdf</h1>
    <section>
      <p>
        Som en liten parentes i cyberrymden spenderar Therése & Anton en
        halvtimme då och då med att prata ofiltrerat om kod, livet och allt
        däremellan.
      </p>
    </section>
    <section>
      <h2>Therése</h2>
      <p>
        Som en liten parentes i cyberrymden spenderar Therése & Anton en
        halvtimme då och då med att prata ofiltrerat om kod, livet och allt
        däremellan.
      </p>
      <p>
        Som en liten parentes i cyberrymden spenderar Therése & Anton en
        halvtimme då och då med att prata ofiltrerat om kod, livet och allt
        däremellan.
      </p>
    </section>
    <section>
      <h2>Anton</h2>
      <p>
        Som en liten parentes i cyberrymden spenderar Therése & Anton en
        halvtimme då och då med att prata ofiltrerat om kod, livet och allt
        däremellan.
      </p>
      <p>
        Som en liten parentes i cyberrymden spenderar Therése & Anton en
        halvtimme då och då med att prata ofiltrerat om kod, livet och allt
        däremellan.
      </p>
    </section>
    <section>
      <h2>Maggan</h2>
      <p>voff</p>
    </section>
    <Footer />
  </main>
</Layout>

<style>
  h1 {
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
  }
</style>
