---
import Layout from '../layouts/Layout.astro'
import { getCollection } from 'astro:content'
const episodes = await getCollection('episodes')
---

<Layout title="Welcome to Astro.">
  <main>
    <h1>asdf</h1>
    <ul role="list" class="link-card-grid">
      {
        episodes.map((episode) => (
          <li>
            <a href={`/${episode.slug}`}>{episode.data.title}</a>
            <time datetime={episode.data.date.toISOString()}>
              {episode.data.date.toDateString()}
            </time>
          </li>
        ))
      }
    </ul>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1.5rem;
    max-width: 60ch;
  }
  h1 {
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
  }
</style>
