---
import UnderlinedLink from './UnderlinedLink.astro'
---

<footer class="footer">
  <UnderlinedLink href="/om-asdf">Om asdf</UnderlinedLink>
  <span>|</span>
  <UnderlinedLink href="/avsnitt">Alla avsnitt</UnderlinedLink>
  <span>|</span>
  <UnderlinedLink href="/hitta-avsnitt">Sök avsnitt</UnderlinedLink>
</footer>

<style>
  .footer {
    margin-bottom: 16px;
    margin: 148px auto 16px;
    display: flex;
    gap: 16px;
  }
</style>
