---
export interface Props {
  setup: string
  punchline: string
  author?: string
}

const { setup, punchline, author } = Astro.props
---

<div class="wrapper">
  <div class="content">
    <h2>Avsnittets skämt:</h2>
    <div class="inner">
      <div class="setup">{setup}</div>
      <div class="container doodle">
        <div id="canvas"></div>
        <div class="punchline">
          {punchline}
        </div>
      </div>
    </div>
    {
      (
        <div class="author">
          {author && (
            <>
              <span>Inskickat av </span>
              <span>{author}</span>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                style={{
                  backgroundColor: 'transparent',
                  width: '24px',
                  display: 'inline-block',
                }}
                viewBox="0 0 167.14 150.42"
              >
                <defs />
                <path
                  id="6ae550c2-9802-496d-3ba8-cde3c20e7704_svg"
                  fill="black"
                  stroke="black"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="1.75"
                  d="M88.82 121.55q-2.65-.72-5.77-2.03t-5.58-2.96-4.41-2.81-6.86-4.76-7.61-5.72-5.86-4.46-6.05-4.41-4.91-3.3-4.85-3.2-5.11-3.45-4.23-2.71-5.13-3.38-6.11-4.73-4.64-4.53-4.2-4.78-4.61-6.07-3.57-6.68-2.13-6.93-.65-6.02.3-4.92.86-4.7 2.07-6.1 2.73-5.75 2.63-3.94 3.42-4.65 5.1-5.19 5.57-3.53 4.72-1.63 5.61-1.15 7.05-.41 7.2 1.34 6.53 3.16 5.48 4.06 4.85 4.47 4.21 4.33 3.46 3.89 2.78 4.02 1.22 2.32.05.85-.14 1.14-.41 1.07-.65.94-.86.77-1.02.53-1.11.27-1.15 0-1.12-.27-1.01-.54-.86-.76-.66-.94-.4-1.08.15-2.92 1.26-4.28 2.2-3.64 2.59-3.34 3.11-3.23 4-3.2 4.86-2.85 5.3-2.08 5.25-1.13 5.1-.42 4.9-.08 4.6.36T110.97.7t5.09 2.59 5.2 3.67 4.73 4.31 3.68 3.91 3.09 3.89 2.77 4.04 2.26 4.12 1.68 4.41.62 4.97-.73 5.31-1.94 4.49-3.17 4.61-3.59 4.35-3.73 4.13-4.48 4.87-4.71 5.26-4.71 5.38-4.14 4.5-3.58 3.6-3.61 3.57-3.56 3.48-3.29 3.29-3.09 3.21-2.9 3.2-3.07 3.93-3 4.55-2.25 4.06-2.12 3.93-1.63 2.64-1.04.89-1.28.51-1.37.08-1.32-.36-1.14-.77-.83-1.09-.45-1.3 0-1.37.44-1.31.82-1.09 1.14-.78 1.32-.37 1.37.07 1.28.51 1.05.88.71 1.18.3 1.34-.15 1.36-.57 1.25-.94 1-1.21.65-1.36.22-1.35-.22-1.22-.64-.95-.99-.58-1.24-.15-1.37.29-1.34.26-.65 1.29-2.06 2.46-3.85 2.89-4.19 3.73-4.67 3.5-4.01 3-3.35 3.09-3.3 3.17-3.38 3.23-3.6 3.19-3.77 3.08-3.85 3.72-4.65 4.49-5.56 4.52-5.59 4.26-5.2 3.5-4.18 2.91-3.68 2.69-4.25 1.24-4.61-.81-4.39-2.32-4.48-2.79-4.03-2.85-3.41-3.62-3.59-4.27-3.24-4.63-2.5-4.62-1.39-4.27-.25-5.13.31-5.83 1.21-4.6 2.06-3.87 2.79-3.7 3.64-2.9 3.74-1.23 2.34-.14 1.14-.41 1.08-.65.94-.86.77-1.02.53-1.11.27-1.15 0-1.12-.27-1.01-.54-.86-.76-.66-.94-.4-1.08-.34-.78-1.37-1.97-2.8-3.63-3.66-4.01-4.29-4.11-4.47-3.59-4.51-2.53-5.11-1.13-5.61.09-6.26 1.45-5.82 3.03-4.32 4.08-4.18 5.8-3.52 6.57T4.8 32.2t-.54 5.91.47 4.92 1.38 5.61 2.66 5.73 3.8 5.69 3.8 4.6 4.12 4.36 5.22 5 4.55 3.79 4.03 2.91 5.17 3.34 4.88 3.22 4.94 3.32 6.35 4.07 6.27 4.01 7.8 4.98 6.8 4.27 4.33 2.36 5.02 2.59 3.86 1.89 1.63.71.66.43.54.58.39.69.21.76.03.79-.17.77-.35.71-.5.61-.64.47-.73.3-.78.12-.79-.07Z"
                  class="tl-centered-g"
                  pointer-events="none"
                  transform="translate(16 16)"
                />
              </svg>
            </>
          )}
        </div>
      )
    }
  </div>
  <div class="instruction">
    <svg xmlns="http://www.w3.org/2000/svg" width="80" viewBox="0 0 103 41">
      <path
        d="M100.72 19.648a9.539 9.539 0 0 1-2.067-.253 16.561 16.561 0 0 0-2.481-.345 73.082 73.082 0 0 0-3.516-.134c-1.435-.027-3.145.034-5.13.183-1.986.15-4.282.424-6.89.824-2.608.4-5.321.788-8.141 1.165-2.82.377-5.696.668-8.628.872-2.932.204-5.88.361-8.844.472-2.964.111-5.778.2-8.442.266a1256.185 1256.185 0 0 1-13.017.263c-1.628.025-3.03.04-4.207.044-1.176.004-2.206-.077-3.09-.244a60.648 60.648 0 0 0-2.69-.445c-.91-.13-1.647-.05-2.211.24-.565.29-.91.421-1.037.394a1.61 1.61 0 0 1-1.259-1.72 1.61 1.61 0 0 1 1.556-1.456c.13-.004.595.021 1.394.074.799.053 1.27.122 1.416.205a1.54 1.54 0 0 1 .717 1.71 1.512 1.512 0 0 1-.534.82 1.524 1.524 0 0 1-1.412.257 1.542 1.542 0 0 1-1.005-1.024 1.538 1.538 0 0 1 .283-1.407 1.513 1.513 0 0 1 .829-.519 1.527 1.527 0 0 1 1.39.36 1.542 1.542 0 0 1 .482 1.352 1.538 1.538 0 0 1-.848 1.157 1.533 1.533 0 0 1-.97.122l-.247-.049-.8.08c-.535.052-.865.065-.992.038a1.61 1.61 0 0 1-1.259-1.72 1.61 1.61 0 0 1 1.556-1.456c.13-.003.69-.13 1.682-.378s2.12-.26 3.382-.036a19.75 19.75 0 0 0 3.648.32c1.17-.011 2.566-.019 4.19-.023 1.625-.005 3.53-.014 5.715-.028s4.603-.04 7.253-.08c2.65-.039 5.442-.103 8.374-.193 2.933-.09 5.836-.223 8.707-.4 2.871-.176 5.711-.437 8.519-.783 2.807-.345 5.553-.704 8.238-1.077 2.685-.372 5.065-.619 7.139-.739s3.852-.15 5.334-.089c1.482.06 3.015.217 4.601.468 1.586.252 2.693.377 3.32.376.628 0 1.022.015 1.182.047.16.032.31.094.45.186s.253.206.34.343c.087.138.15.287.19.45.04.16.04.323 0 .485-.04.162-.103.311-.19.448-.087.138-.2.252-.34.344a1.27 1.27 0 0 1-.45.186l-.24.048-.95-.001Z"
      ></path>
      <path
        d="M26.582 2.732c.475-.299.977-.791 1.508-1.478.53-.687.85-1.055.959-1.106.108-.05.212-.088.311-.113a1.27 1.27 0 0 1 .33-.034c.121.001.231.017.33.045.099.029.202.07.31.123a.96.96 0 0 1 .27.193c.072.076.142.16.21.253s.118.192.15.297c.032.105.059.213.08.324a.767.767 0 0 1-.01.332l-.08.322a.684.684 0 0 1-.16.292c-.081.09-.158.173-.23.245-.072.073-.489.55-1.25 1.431a18.718 18.718 0 0 1-2.45 2.372c-.872.7-2.012 1.624-3.419 2.773a89.68 89.68 0 0 0-4.343 3.802 455.039 455.039 0 0 0-4.62 4.361 331.59 331.59 0 0 0-4.323 4.206c-1.29 1.28-2.552 2.367-3.785 3.26-1.232.893-2.106 1.603-2.62 2.13-.515.526-.862.633-1.042.32-.18-.314.493-.374 2.02-.18 1.527.193 2.998.401 4.413.623 1.415.222 2.928.55 4.538.986 1.61.436 3.153.928 4.628 1.478a48.727 48.727 0 0 1 4.156 1.76 54.656 54.656 0 0 1 3.659 1.93c1.143.662 2.08 1.381 2.808 2.158.729.776 1.545 1.301 2.45 1.576.905.274 1.445.43 1.62.466.175.036.329.098.46.185s.258.194.38.322c.122.129.205.27.25.427.045.156.081.318.11.486a.924.924 0 0 1-.05.495 3.424 3.424 0 0 1-.21.45c-.078.14-.195.26-.35.361a2.397 2.397 0 0 1-.44.233c-.138.053-.301.08-.49.08s-.352-.028-.49-.082a2.443 2.443 0 0 1-.44-.233.958.958 0 0 1-.34-.362 6.952 6.952 0 0 1-.21-.452.81.81 0 0 1-.05-.495c.035-.168.072-.33.11-.485a.897.897 0 0 1 .25-.426c.129-.128.255-.235.38-.322.125-.086.281-.147.47-.183.189-.036.352-.045.49-.026s.298.063.48.134a.94.94 0 0 1 .41.28c.091.115.191.248.3.396a.77.77 0 0 1 .16.472c-.002.166-.002.332 0 .497a.77.77 0 0 1-.16.471c-.109.149-.209.28-.3.396a.945.945 0 0 1-.41.278c-.182.07-.342.115-.48.133a3.48 3.48 0 0 1-.25.026c-.029 0-.585-.043-1.67-.13-1.085-.087-2.185-.6-3.3-1.539-1.115-.938-2.197-1.71-3.245-2.313a50.393 50.393 0 0 0-3.39-1.775 65.174 65.174 0 0 0-3.835-1.68 45.469 45.469 0 0 0-4.251-1.46c-1.49-.433-2.901-.766-4.234-.998a89.549 89.549 0 0 0-3.974-.6c-1.318-.17-2.42-.452-3.305-.848C.49 29.196.11 28.37.24 27.115.37 25.86.803 24.9 1.54 24.237c.736-.664 1.643-1.379 2.719-2.145 1.076-.766 2.294-1.784 3.655-3.054 1.36-1.27 2.83-2.665 4.409-4.187a134.123 134.123 0 0 1 4.769-4.382c1.6-1.4 3.1-2.672 4.497-3.815a44.314 44.314 0 0 1 4.035-2.963c1.292-.832 2.151-1.618 2.576-2.358.425-.739.705-1.134.84-1.185.135-.05.242-.088.32-.113.078-.024.188-.036.33-.034.142.001.252.016.33.045.078.03.182.07.31.123a.586.586 0 0 1 .27.193c.052.076.122.16.21.253a.508.508 0 0 1 .15.297c.012.105.038.213.08.324a.426.426 0 0 1-.01.332.913.913 0 0 0-.08.322c-.005.103-.058.2-.16.292a1.579 1.579 0 0 0-.23.245c-.052.073-.352.45-.9 1.133s-1.045 1.19-1.49 1.522c-.445.332-.765.534-.96.606a1.562 1.562 0 0 1-.541.107 1.59 1.59 0 0 1-.542-.108 1.054 1.054 0 0 1-.459-.307 2.761 2.761 0 0 1-.306-.46.898.898 0 0 1-.107-.542c.022-.188.058-.368.108-.541a.951.951 0 0 1 .307-.459c.155-.133.221-.2.2-.199-.022 0 .215-.149.712-.447Z"
      ></path>
    </svg>
    <span> Skrapa här!!</span>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="48"
      viewBox="0 0 50 25"
      class="scratch-1"
    >
      <path
        fill="#1D1D1D"
        d="M8.136 7.774c.486-.623 1.118-1.284 1.894-1.982a25.745 25.745 0 0 1 2.731-2.113c1.045-.711 1.938-1.034 2.679-.97.741.064 1.051.526.93 1.385-.121.86-.488 1.763-1.1 2.712-.612.948-1.289 2.047-2.03 3.296-.741 1.25-1.551 2.6-2.43 4.052a31.45 31.45 0 0 1-2.756 3.898c-.959 1.146-1.705 2.087-2.24 2.822-.536.735-1.037 1.15-1.505 1.245-.468.095-.746.186-.835.272a4.086 4.086 0 0 1-.254.228.967.967 0 0 1-.3.16c-.12.041-.23.069-.33.084-.1.014-.214.015-.342.002a1.146 1.146 0 0 1-.331-.08 2.55 2.55 0 0 1-.303-.156.857.857 0 0 1-.256-.225 7.397 7.397 0 0 1-.196-.28.74.74 0 0 1-.123-.317 71.643 71.643 0 0 1-.043-.338.719.719 0 0 1 .04-.339l.118-.32c.039-.101.454-.563 1.246-1.385a85.964 85.964 0 0 0 2.804-3.09c1.078-1.237 2.3-2.567 3.666-3.991a59.859 59.859 0 0 1 4.56-4.26A128.226 128.226 0 0 1 18 4.38c1.373-1.055 2.393-1.926 3.06-2.612.667-.687 1.227-1.081 1.68-1.184.453-.102.713-.19.78-.261a.76.76 0 0 1 .29-.18c.126-.048.24-.082.34-.103.1-.021.214-.028.34-.02a1.376 1.376 0 0 1 .66.206c.1.06.193.133.28.216.087.083.157.174.21.274.053.1.1.206.14.318.04.112.064.226.07.342.006.117 0 .233-.02.348-.02.115-.056.226-.11.332a2.284 2.284 0 0 1-.18.298c-.066.092-.366.423-.9.993-.534.57-1.217 1.427-2.05 2.573a132.106 132.106 0 0 1-2.87 3.787c-1.08 1.38-2.13 2.744-3.15 4.095-1.02 1.35-1.853 2.12-2.5 2.307-.647.187-.307-.395 1.02-1.747a54.641 54.641 0 0 1 3.98-3.684 114.288 114.288 0 0 1 3.77-3.02 251.107 251.107 0 0 0 3-2.322c.813-.641 1.66-.925 2.54-.85.88.075 1.174.694.88 1.856-.294 1.162-.874 2.262-1.74 3.3a85.813 85.813 0 0 1-2.9 3.288 221.983 221.983 0 0 1-3.16 3.347c-1.04 1.078-1.843 1.647-2.41 1.707-.567.061-.157-.743 1.23-2.41a30.95 30.95 0 0 1 4.75-4.59c1.78-1.392 3.363-2.61 4.75-3.656 1.387-1.046 2.874-1.793 4.46-2.241 1.586-.449 2.093.161 1.52 1.83-.573 1.667-1.353 3.13-2.34 4.388a71.761 71.761 0 0 1-3.27 3.86c-1.193 1.317-2.26 2.412-3.2 3.285-.94.873-1.77 1.778-2.49 2.713-.72.936-1.12 1.438-1.2 1.506a.952.952 0 0 1-.32.17 2.262 2.262 0 0 1-.34.088 1.5 1.5 0 0 1-.36.004.933.933 0 0 1-.34-.081c-.08-.042-.187-.096-.32-.163a.59.59 0 0 1-.27-.233 1.55 1.55 0 0 0-.21-.292.458.458 0 0 1-.13-.332 1.113 1.113 0 0 0-.04-.353.48.48 0 0 1 .04-.355c.06-.117.1-.228.12-.334a.514.514 0 0 1 .2-.296c.113-.09.673-.604 1.68-1.54a179.834 179.834 0 0 1 3.39-3.06c1.253-1.106 2.67-2.36 4.25-3.763s3.14-2.715 4.68-3.934c1.54-1.22 2.966-2.156 4.28-2.81 1.314-.653 2.23-.852 2.75-.597.52.256.4 1.11-.36 2.561-.76 1.453-1.623 2.735-2.59 3.847a72.13 72.13 0 0 1-3.26 3.488c-1.206 1.214-2.156 2.276-2.85 3.187a21.974 21.974 0 0 0-1.89 2.954 275.474 275.474 0 0 1-.92 1.712c-.047.084-.144.157-.29.22-.146.06-.256.109-.33.142a1.016 1.016 0 0 1-.36.06 1.145 1.145 0 0 1-.36-.027 49.095 49.095 0 0 1-.34-.113c-.153-.05-.256-.115-.31-.192a1.495 1.495 0 0 0-.25-.259c-.113-.096-.173-.2-.18-.312a.913.913 0 0 0-.1-.347.434.434 0 0 1-.02-.361c.046-.122.07-.24.07-.355 0-.115.05-.224.15-.327.1-.104.673-.676 1.72-1.717a19.117 19.117 0 0 1 3.54-2.763c1.313-.801 2.763-1.73 4.35-2.787a82.537 82.537 0 0 1 4.7-2.914c1.546-.886 3.02-1.397 4.42-1.532s2.12.268 2.16 1.207c.04.94-.397 2.148-1.31 3.623a90.37 90.37 0 0 1-2.73 4.163c-.907 1.3-1.89 2.67-2.95 4.11-1.06 1.44-1.623 2.21-1.69 2.312a.72.72 0 0 1-.34.252c-.16.066-.293.11-.4.13-.107.022-.247.02-.42-.004a.89.89 0 0 1-.4-.14 6.876 6.876 0 0 1-.33-.259.625.625 0 0 1-.23-.352 3.936 3.936 0 0 0-.11-.407.583.583 0 0 1 .02-.422c.06-.139.113-.269.16-.39a.69.69 0 0 1 .28-.319c.14-.09.263-.162.37-.213.107-.051.244-.08.41-.086.166-.007.306.01.42.05.114.04.24.1.38.182.14.08.24.179.3.293.06.115.127.24.2.375a.582.582 0 0 1 .06.418 3.48 3.48 0 0 0-.07.415.578.578 0 0 1-.21.371c-.126.113-.23.208-.31.287-.08.078-.207.136-.38.173a1.47 1.47 0 0 1-.42.04 1.95 1.95 0 0 1-.41-.095c-.166-.054-.286-.128-.36-.221a9.845 9.845 0 0 0-.27-.325.555.555 0 0 1-.15-.394c.006-.14 0-.28-.02-.422a.53.53 0 0 1 .12-.405c.1-.129.13-.193.09-.193-.04 0 .454-.732 1.48-2.198a117.929 117.929 0 0 0 2.79-4.159 331.21 331.21 0 0 1 2.63-4.052c.92-1.395 1.296-1.856 1.13-1.382-.166.473-.966 1.143-2.4 2.01-1.434.868-2.98 1.838-4.64 2.911a497.355 497.355 0 0 0-4.41 2.881c-1.28.848-2.327 1.675-3.14 2.482-.813.807-1.25 1.253-1.31 1.337a.719.719 0 0 1-.29.22c-.133.06-.243.108-.33.142a1.133 1.133 0 0 1-.36.06 1.246 1.246 0 0 1-.36-.027 4.377 4.377 0 0 1-.34-.113.75.75 0 0 1-.31-.192 4.694 4.694 0 0 0-.25-.259.585.585 0 0 1-.18-.312 1.963 1.963 0 0 0-.1-.347.57.57 0 0 1-.02-.361c.033-.122.056-.24.07-.355a.626.626 0 0 1 .15-.327c.086-.103.38-.683.88-1.74a14.994 14.994 0 0 1 1.96-3.064 56.334 56.334 0 0 1 2.92-3.266c1.14-1.191 2.207-2.314 3.2-3.37.993-1.056 1.82-1.719 2.48-1.988.66-.27 1.054-.414 1.18-.432.126-.019-.074.282-.6.903-.526.62-1.52 1.531-2.98 2.731s-2.997 2.495-4.61 3.886a206.949 206.949 0 0 0-4.4 3.897c-1.32 1.206-2.447 2.232-3.38 3.076-.933.845-1.44 1.301-1.52 1.37a.952.952 0 0 1-.32.17 2.262 2.262 0 0 1-.34.088 1.5 1.5 0 0 1-.36.004.933.933 0 0 1-.34-.081c-.08-.042-.187-.096-.32-.163a.59.59 0 0 1-.27-.233 1.55 1.55 0 0 0-.21-.292.458.458 0 0 1-.13-.332 1.113 1.113 0 0 0-.04-.353.48.48 0 0 1 .04-.355c.06-.117.1-.228.12-.334a.514.514 0 0 1 .2-.296c.113-.09.5-.603 1.16-1.536a14.7 14.7 0 0 1 2.38-2.606c.926-.804 1.943-1.84 3.05-3.108a225.977 225.977 0 0 0 3.23-3.781c1.046-1.253 1.823-2.116 2.33-2.59.507-.473.674-.388.5.257-.174.645-.97 1.481-2.39 2.51a116.458 116.458 0 0 0-4.64 3.563 137.682 137.682 0 0 0-4.45 3.722c-1.293 1.134-2.61 1.998-3.95 2.593-1.34.595-2.11.646-2.31.152-.2-.494.027-1.251.68-2.272s1.47-2.064 2.45-3.13c.98-1.065 2.014-2.157 3.1-3.275a53.37 53.37 0 0 1 3.29-3.12c1.107-.96 1.87-1.388 2.29-1.282.42.106.24.467-.54 1.083-.78.616-1.726 1.364-2.84 2.242a483.542 483.542 0 0 0-3.7 2.95 84.923 84.923 0 0 0-3.57 3.02c-1.027.925-2.297 1.628-3.81 2.108-1.513.48-2.023-.057-1.53-1.611a15.009 15.009 0 0 1 2.23-4.365 111.68 111.68 0 0 1 3.14-4.076 69.857 69.857 0 0 0 2.77-3.64c.747-1.063 1.484-1.975 2.21-2.733S23.48.393 23.52.322c.04-.072.137-.132.29-.18.153-.049.266-.083.34-.103.074-.02.187-.027.34-.02.153.006.27.027.35.063.08.035.184.083.31.143.126.06.22.132.28.216.06.083.13.175.21.274.08.1.126.205.14.318.014.112.037.226.07.342a.529.529 0 0 1-.02.348 2.784 2.784 0 0 0-.11.332.652.652 0 0 1-.18.298c-.093.092-.373.207-.84.343-.467.136-1.07.567-1.81 1.293s-1.773 1.601-3.1 2.625a174.975 174.975 0 0 0-4.42 3.54 48.23 48.23 0 0 0-4.41 4.106 188.93 188.93 0 0 0-3.497 3.803 151.248 151.248 0 0 1-2.692 2.949L3.474 22.39a1.848 1.848 0 0 1-.254.228 1.232 1.232 0 0 1-.3.16c-.113.042-.223.07-.33.084a1.49 1.49 0 0 1-.342.002 1.222 1.222 0 0 1-.331-.08 1.862 1.862 0 0 1-.303-.156 1.066 1.066 0 0 1-.256-.225 2.283 2.283 0 0 1-.196-.28.995.995 0 0 1-.123-.317 2.474 2.474 0 0 1-.043-.338.998.998 0 0 1 .04-.339 2.26 2.26 0 0 1 .118-.32c.047-.1.383-.245 1.009-.435.625-.19 1.169-.641 1.63-1.357.46-.715 1.146-1.577 2.055-2.587.91-1.01 1.807-2.235 2.692-3.676.885-1.44 1.732-2.785 2.54-4.035s1.608-2.307 2.4-3.172c.792-.865 1.339-1.245 1.64-1.141.301.104-.019.48-.96 1.128-.941.647-1.735 1.27-2.38 1.866a13.44 13.44 0 0 0-1.68 1.853c-.475.64-.765 1.013-.87 1.121a.985.985 0 0 1-.42.245c-.175.054-.33.077-.467.068a1.552 1.552 0 0 1-.465-.12.813.813 0 0 1-.383-.287 4.273 4.273 0 0 1-.245-.413.686.686 0 0 1-.067-.475c.035-.164.074-.319.119-.465.044-.146.08-.22.105-.22.026 0 .27-.312.73-.934Z"
      ></path>
    </svg>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="40"
      viewBox="0 0 50 25"
      class="scratch-2"
    >
      <path
        fill="#1D1D1D"
        d="M8.136 7.774c.486-.623 1.118-1.284 1.894-1.982a25.745 25.745 0 0 1 2.731-2.113c1.045-.711 1.938-1.034 2.679-.97.741.064 1.051.526.93 1.385-.121.86-.488 1.763-1.1 2.712-.612.948-1.289 2.047-2.03 3.296-.741 1.25-1.551 2.6-2.43 4.052a31.45 31.45 0 0 1-2.756 3.898c-.959 1.146-1.705 2.087-2.24 2.822-.536.735-1.037 1.15-1.505 1.245-.468.095-.746.186-.835.272a4.086 4.086 0 0 1-.254.228.967.967 0 0 1-.3.16c-.12.041-.23.069-.33.084-.1.014-.214.015-.342.002a1.146 1.146 0 0 1-.331-.08 2.55 2.55 0 0 1-.303-.156.857.857 0 0 1-.256-.225 7.397 7.397 0 0 1-.196-.28.74.74 0 0 1-.123-.317 71.643 71.643 0 0 1-.043-.338.719.719 0 0 1 .04-.339l.118-.32c.039-.101.454-.563 1.246-1.385a85.964 85.964 0 0 0 2.804-3.09c1.078-1.237 2.3-2.567 3.666-3.991a59.859 59.859 0 0 1 4.56-4.26A128.226 128.226 0 0 1 18 4.38c1.373-1.055 2.393-1.926 3.06-2.612.667-.687 1.227-1.081 1.68-1.184.453-.102.713-.19.78-.261a.76.76 0 0 1 .29-.18c.126-.048.24-.082.34-.103.1-.021.214-.028.34-.02a1.376 1.376 0 0 1 .66.206c.1.06.193.133.28.216.087.083.157.174.21.274.053.1.1.206.14.318.04.112.064.226.07.342.006.117 0 .233-.02.348-.02.115-.056.226-.11.332a2.284 2.284 0 0 1-.18.298c-.066.092-.366.423-.9.993-.534.57-1.217 1.427-2.05 2.573a132.106 132.106 0 0 1-2.87 3.787c-1.08 1.38-2.13 2.744-3.15 4.095-1.02 1.35-1.853 2.12-2.5 2.307-.647.187-.307-.395 1.02-1.747a54.641 54.641 0 0 1 3.98-3.684 114.288 114.288 0 0 1 3.77-3.02 251.107 251.107 0 0 0 3-2.322c.813-.641 1.66-.925 2.54-.85.88.075 1.174.694.88 1.856-.294 1.162-.874 2.262-1.74 3.3a85.813 85.813 0 0 1-2.9 3.288 221.983 221.983 0 0 1-3.16 3.347c-1.04 1.078-1.843 1.647-2.41 1.707-.567.061-.157-.743 1.23-2.41a30.95 30.95 0 0 1 4.75-4.59c1.78-1.392 3.363-2.61 4.75-3.656 1.387-1.046 2.874-1.793 4.46-2.241 1.586-.449 2.093.161 1.52 1.83-.573 1.667-1.353 3.13-2.34 4.388a71.761 71.761 0 0 1-3.27 3.86c-1.193 1.317-2.26 2.412-3.2 3.285-.94.873-1.77 1.778-2.49 2.713-.72.936-1.12 1.438-1.2 1.506a.952.952 0 0 1-.32.17 2.262 2.262 0 0 1-.34.088 1.5 1.5 0 0 1-.36.004.933.933 0 0 1-.34-.081c-.08-.042-.187-.096-.32-.163a.59.59 0 0 1-.27-.233 1.55 1.55 0 0 0-.21-.292.458.458 0 0 1-.13-.332 1.113 1.113 0 0 0-.04-.353.48.48 0 0 1 .04-.355c.06-.117.1-.228.12-.334a.514.514 0 0 1 .2-.296c.113-.09.673-.604 1.68-1.54a179.834 179.834 0 0 1 3.39-3.06c1.253-1.106 2.67-2.36 4.25-3.763s3.14-2.715 4.68-3.934c1.54-1.22 2.966-2.156 4.28-2.81 1.314-.653 2.23-.852 2.75-.597.52.256.4 1.11-.36 2.561-.76 1.453-1.623 2.735-2.59 3.847a72.13 72.13 0 0 1-3.26 3.488c-1.206 1.214-2.156 2.276-2.85 3.187a21.974 21.974 0 0 0-1.89 2.954 275.474 275.474 0 0 1-.92 1.712c-.047.084-.144.157-.29.22-.146.06-.256.109-.33.142a1.016 1.016 0 0 1-.36.06 1.145 1.145 0 0 1-.36-.027 49.095 49.095 0 0 1-.34-.113c-.153-.05-.256-.115-.31-.192a1.495 1.495 0 0 0-.25-.259c-.113-.096-.173-.2-.18-.312a.913.913 0 0 0-.1-.347.434.434 0 0 1-.02-.361c.046-.122.07-.24.07-.355 0-.115.05-.224.15-.327.1-.104.673-.676 1.72-1.717a19.117 19.117 0 0 1 3.54-2.763c1.313-.801 2.763-1.73 4.35-2.787a82.537 82.537 0 0 1 4.7-2.914c1.546-.886 3.02-1.397 4.42-1.532s2.12.268 2.16 1.207c.04.94-.397 2.148-1.31 3.623a90.37 90.37 0 0 1-2.73 4.163c-.907 1.3-1.89 2.67-2.95 4.11-1.06 1.44-1.623 2.21-1.69 2.312a.72.72 0 0 1-.34.252c-.16.066-.293.11-.4.13-.107.022-.247.02-.42-.004a.89.89 0 0 1-.4-.14 6.876 6.876 0 0 1-.33-.259.625.625 0 0 1-.23-.352 3.936 3.936 0 0 0-.11-.407.583.583 0 0 1 .02-.422c.06-.139.113-.269.16-.39a.69.69 0 0 1 .28-.319c.14-.09.263-.162.37-.213.107-.051.244-.08.41-.086.166-.007.306.01.42.05.114.04.24.1.38.182.14.08.24.179.3.293.06.115.127.24.2.375a.582.582 0 0 1 .06.418 3.48 3.48 0 0 0-.07.415.578.578 0 0 1-.21.371c-.126.113-.23.208-.31.287-.08.078-.207.136-.38.173a1.47 1.47 0 0 1-.42.04 1.95 1.95 0 0 1-.41-.095c-.166-.054-.286-.128-.36-.221a9.845 9.845 0 0 0-.27-.325.555.555 0 0 1-.15-.394c.006-.14 0-.28-.02-.422a.53.53 0 0 1 .12-.405c.1-.129.13-.193.09-.193-.04 0 .454-.732 1.48-2.198a117.929 117.929 0 0 0 2.79-4.159 331.21 331.21 0 0 1 2.63-4.052c.92-1.395 1.296-1.856 1.13-1.382-.166.473-.966 1.143-2.4 2.01-1.434.868-2.98 1.838-4.64 2.911a497.355 497.355 0 0 0-4.41 2.881c-1.28.848-2.327 1.675-3.14 2.482-.813.807-1.25 1.253-1.31 1.337a.719.719 0 0 1-.29.22c-.133.06-.243.108-.33.142a1.133 1.133 0 0 1-.36.06 1.246 1.246 0 0 1-.36-.027 4.377 4.377 0 0 1-.34-.113.75.75 0 0 1-.31-.192 4.694 4.694 0 0 0-.25-.259.585.585 0 0 1-.18-.312 1.963 1.963 0 0 0-.1-.347.57.57 0 0 1-.02-.361c.033-.122.056-.24.07-.355a.626.626 0 0 1 .15-.327c.086-.103.38-.683.88-1.74a14.994 14.994 0 0 1 1.96-3.064 56.334 56.334 0 0 1 2.92-3.266c1.14-1.191 2.207-2.314 3.2-3.37.993-1.056 1.82-1.719 2.48-1.988.66-.27 1.054-.414 1.18-.432.126-.019-.074.282-.6.903-.526.62-1.52 1.531-2.98 2.731s-2.997 2.495-4.61 3.886a206.949 206.949 0 0 0-4.4 3.897c-1.32 1.206-2.447 2.232-3.38 3.076-.933.845-1.44 1.301-1.52 1.37a.952.952 0 0 1-.32.17 2.262 2.262 0 0 1-.34.088 1.5 1.5 0 0 1-.36.004.933.933 0 0 1-.34-.081c-.08-.042-.187-.096-.32-.163a.59.59 0 0 1-.27-.233 1.55 1.55 0 0 0-.21-.292.458.458 0 0 1-.13-.332 1.113 1.113 0 0 0-.04-.353.48.48 0 0 1 .04-.355c.06-.117.1-.228.12-.334a.514.514 0 0 1 .2-.296c.113-.09.5-.603 1.16-1.536a14.7 14.7 0 0 1 2.38-2.606c.926-.804 1.943-1.84 3.05-3.108a225.977 225.977 0 0 0 3.23-3.781c1.046-1.253 1.823-2.116 2.33-2.59.507-.473.674-.388.5.257-.174.645-.97 1.481-2.39 2.51a116.458 116.458 0 0 0-4.64 3.563 137.682 137.682 0 0 0-4.45 3.722c-1.293 1.134-2.61 1.998-3.95 2.593-1.34.595-2.11.646-2.31.152-.2-.494.027-1.251.68-2.272s1.47-2.064 2.45-3.13c.98-1.065 2.014-2.157 3.1-3.275a53.37 53.37 0 0 1 3.29-3.12c1.107-.96 1.87-1.388 2.29-1.282.42.106.24.467-.54 1.083-.78.616-1.726 1.364-2.84 2.242a483.542 483.542 0 0 0-3.7 2.95 84.923 84.923 0 0 0-3.57 3.02c-1.027.925-2.297 1.628-3.81 2.108-1.513.48-2.023-.057-1.53-1.611a15.009 15.009 0 0 1 2.23-4.365 111.68 111.68 0 0 1 3.14-4.076 69.857 69.857 0 0 0 2.77-3.64c.747-1.063 1.484-1.975 2.21-2.733S23.48.393 23.52.322c.04-.072.137-.132.29-.18.153-.049.266-.083.34-.103.074-.02.187-.027.34-.02.153.006.27.027.35.063.08.035.184.083.31.143.126.06.22.132.28.216.06.083.13.175.21.274.08.1.126.205.14.318.014.112.037.226.07.342a.529.529 0 0 1-.02.348 2.784 2.784 0 0 0-.11.332.652.652 0 0 1-.18.298c-.093.092-.373.207-.84.343-.467.136-1.07.567-1.81 1.293s-1.773 1.601-3.1 2.625a174.975 174.975 0 0 0-4.42 3.54 48.23 48.23 0 0 0-4.41 4.106 188.93 188.93 0 0 0-3.497 3.803 151.248 151.248 0 0 1-2.692 2.949L3.474 22.39a1.848 1.848 0 0 1-.254.228 1.232 1.232 0 0 1-.3.16c-.113.042-.223.07-.33.084a1.49 1.49 0 0 1-.342.002 1.222 1.222 0 0 1-.331-.08 1.862 1.862 0 0 1-.303-.156 1.066 1.066 0 0 1-.256-.225 2.283 2.283 0 0 1-.196-.28.995.995 0 0 1-.123-.317 2.474 2.474 0 0 1-.043-.338.998.998 0 0 1 .04-.339 2.26 2.26 0 0 1 .118-.32c.047-.1.383-.245 1.009-.435.625-.19 1.169-.641 1.63-1.357.46-.715 1.146-1.577 2.055-2.587.91-1.01 1.807-2.235 2.692-3.676.885-1.44 1.732-2.785 2.54-4.035s1.608-2.307 2.4-3.172c.792-.865 1.339-1.245 1.64-1.141.301.104-.019.48-.96 1.128-.941.647-1.735 1.27-2.38 1.866a13.44 13.44 0 0 0-1.68 1.853c-.475.64-.765 1.013-.87 1.121a.985.985 0 0 1-.42.245c-.175.054-.33.077-.467.068a1.552 1.552 0 0 1-.465-.12.813.813 0 0 1-.383-.287 4.273 4.273 0 0 1-.245-.413.686.686 0 0 1-.067-.475c.035-.164.074-.319.119-.465.044-.146.08-.22.105-.22.026 0 .27-.312.73-.934Z"
      ></path>
    </svg>
  </div>
</div>

<script>
  type CanvasWrapper = {
    node: HTMLCanvasElement
    context: CanvasRenderingContext2D
    isDrawing: boolean
  }
  function createCanvas(
    parent: HTMLElement,
    width: number,
    height: number
  ): CanvasWrapper {
    const node = document.createElement('canvas')
    const context = node.getContext('2d')

    if (!context) throw 'Something went wrong'

    node.width = width || 100
    node.height = height || 100
    parent.appendChild(node)

    return {
      node,
      context,
      isDrawing: false,
    }
  }

  function init(
    container: HTMLElement | null,
    width: number,
    height: number,
    fillColor: string
  ) {
    if (!container) return

    const canvas = createCanvas(container, width, height)
    const ctx = canvas.context

    const clearTo = (fillColor: string) => {
      ctx.fillStyle = fillColor
      ctx.fillRect(0, 0, width, height)
    }

    clearTo(fillColor || '#ddd')

    const draw = (x: number, y: number) => {
      const radius = 10
      ctx.globalCompositeOperation = 'destination-out'

      ctx.fillStyle = '#fffff'
      ctx.beginPath()
      ctx.moveTo(x, y)
      ctx.arc(x + radius / 2, y + radius / 2, radius, 0, Math.PI * 2, false)
      ctx.fill()
    }

    canvas.node.onmousemove = function (e) {
      if (!canvas.isDrawing) {
        return
      }

      const rect = canvas.node.getBoundingClientRect()
      const x = e.pageX - rect.left
      const y = e.pageY - rect.top
      draw(x, y)
    }
    canvas.node.ontouchmove = (e) => {
      e.preventDefault()
      if (!canvas.isDrawing) {
        return
      }

      const rect = canvas.node.getBoundingClientRect()
      const x = e.touches[0].pageX - rect.left
      const y = e.touches[0].pageY - rect.top
      draw(x, y)
    }
    const handleDown = (e: MouseEvent | TouchEvent) => {
      e.preventDefault()
      canvas.isDrawing = true
    }
    const handleUp = (e: MouseEvent | TouchEvent) => {
      e.preventDefault()
      canvas.isDrawing = false
    }

    canvas.node.onmousedown = handleDown
    canvas.node.onmouseup = handleUp
    canvas.node.ontouchstart = handleDown
    canvas.node.ontouchend = handleUp
  }

  const container = document.getElementById('canvas')
  init(container, 340, 70, 'gainsboro')
</script>

<style>
  .wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 12px;
    font-family: 'Shantell Sans', system-ui, sans-serif;
    font-variation-settings: 'BNCE' -40, 'wght' 500;
  }

  .content {
    display: flex;
    flex-direction: column;
  }

  .instruction {
    display: flex;
    margin-bottom: 66px;
    transform: rotateZ(-4deg);
    position: relative;
  }

  .instruction span {
    margin-top: -12px;
    margin-left: -36px;
    transform: rotateZ(15deg);
  }

  .scratch-2 {
    position: absolute;
    right: 36px;
    top: -36px;
    transform: rotateZ(180deg);
  }

  .scratch-1 {
    position: absolute;
    right: 14px;
    bottom: -12px;
  }

  .wrapper h2 {
    margin-left: -24px;
    transform: rotateZ(-2deg);
    margin-bottom: 12px;
  }

  .inner {
    max-width: 350px;
  }

  .container {
    position: relative;
    width: 350px;
    height: 80px;
  }

  .setup {
    font-size: 18px;
  }

  .punchline {
    height: 100%;
    font-size: 18px;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  #canvas {
    position: absolute;
    inset: 0;
  }

  .author {
    opacity: 0.6;
    font-size: 14px;
    display: flex;
    align-items: center;
    margin-top: 2px;
    white-space: pre-wrap;
    min-height: 24px;
  }
  .author span:first-of-type {
    transform: rotateZ(-1deg);
  }
  .author span:nth-child(2) {
    transform: rotateZ(2deg);
  }

  @media (max-width: 666px) {
    .wrapper {
      flex-direction: column;
      align-items: flex-start;
    }
    .wrapper h2 {
      margin-left: 0px;
    }
    .instruction {
      transform: rotateZ(40deg);
      margin-top: 0px;
      margin-left: auto;
    }
  }
</style>
