---
export interface Props {}

const {} = Astro.props
---

<h2>Skicka in ett sk채mt vettja</h2>
<form class="joke-form" netlify>
  <label style={{ transform: 'rotateZ(1deg)' }}
    >Ditt namn (eller vad vi nu ska kalla dig):
    <input type="text" class="doodle" />
  </label>
  <label style={{ transform: 'rotateZ(-0.5deg)' }}>
    Ditt sk채mt (eller n책got annat kul du vill ber채tta):
    <textarea class="doodle" rows="3"></textarea>
  </label>
  <button type="submit" class="submit-joke-button">Skicka :)</button>
</form>

<style>
  .joke-form {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .joke-form label {
    font-family: 'Shantell Sans', system-ui, sans-serif;
    font-variation-settings: 'BNCE' -30, 'wght' 400;
    display: flex;
    flex-direction: column;
  }

  .joke-form textarea {
    resize: none;
  }

  .submit-joke-button {
    border: none;
    background: unset;
    font-size: 24px;
    font-family: 'Shantell Sans', system-ui, sans-serif;
    cursor: pointer;
    margin-left: auto;
    margin-top: 16px;
  }
</style>
