---
export interface Props {}

const {} = Astro.props
---

<h2>Skicka in ett skämt vettja</h2>
<form class="joke-form">
  <label
    >Ditt namn eller vad vi nu ska kalla dig:
    <input type="text" class="doodle" />
  </label>
  <label>
    Ett skämt (eller vad som helst):
    <textarea class="doodle"></textarea>
  </label>
  <button type="submit" class="submit-joke-button">Skicka :)</button>
</form>

<style>
  .joke-form {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .joke-form label {
    font-family: 'Shantell Sans', system-ui, sans-serif;
    font-variation-settings: 'BNCE' -30, 'wght' 400;
    display: flex;
    flex-direction: column;
  }

  .submit-joke-button {
    border: none;
    background: unset;
    font-size: 24px;
    font-family: 'Shantell Sans', system-ui, sans-serif;
    cursor: pointer;
    margin-left: auto;
    margin-top: 16px;
  }
</style>
