---
import '@fontsource/crimson-pro'

export interface Props {
  title: string
}

const { title } = Astro.props
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  @font-face {
    font-family: 'Shantell Sans';
    src: url('/fonts/shantell-sans.woff2') format('woff2');
    font-family: sans-serif;
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  :root {
  }

  html,
  body {
    font-family: 'Crimson Pro', serif;
    overflow-x: hidden;
    position: relative;
  }

  h1,
  h2,
  h3 {
    font-family: 'Shantell Sans', system-ui, sans-serif;
    font-variation-settings: 'BNCE' -50, 'wght' 500;
  }

  .main {
    margin: auto;
    padding: 1.5rem;
    max-width: 650px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  a {
    color: #a05a39;
  }
  h2,
  h3 {
    font-weight: 500;
  }
  ul {
    list-style-image: url('../images/bullet.png');
  }

  .markdown p:not(:first-of-type) {
    margin: 16px 0;
  }
  .markdown h1,
  .markdown h2,
  .markdown h3,
  .markdown h4 {
    margin: 8px 0;
  }

  /*
  RESET
  */
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  * {
    margin: 0;
  }
  html,
  body {
    height: 100%;
  }
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  img,
  picture,
  video,
  canvas,
  svg {
    display: block;
    max-width: 100%;
  }
  input,
  button,
  textarea,
  select {
    font: inherit;
  }
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    overflow-wrap: break-word;
  }
  .main {
    isolation: isolate;
  }
</style>
