---
import '@fontsource/crimson-pro'

export interface Props {
  title: string
  description?: string
}

const { title, description } = Astro.props
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <meta name="generator" content={Astro.generator} />
    {description && <meta name="description" content={description} />}
    <meta name="twitter:description" content="Antons home on the world wide web" />
    <meta property="og:description" content="Antons home on the world wide web" />
    <meta name="twitter:title" content="home" />
    <meta name="twitter:creator" content="Anton Gunnarsson" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="og:type" content="website" />
    <meta property="og:title" content="home" />
    <meta
      name="og:image"
      content="https://res.cloudinary.com/anton-g/image/upload/w_1280,h_669,c_fill,q_auto,f_auto/w_760,c_fit,co_rgb:000000,g_south_west,x_480,y_254,l_text:roboto_94bold:Software%20development%20is%20a%20social%20profession/w_760,c_fit,co_rgb:000000,g_north_west,x_480,y_445,l_text:roboto_48:Let's%20start%20thinking%20about%20The%20Real%20Problems%E2%84%A2%20of%20tech/social-card-template_jphyku"
      data-react-helmet="true"
    />
    <title>{title}</title>
  </head>
  <body>
    <div style={{ position: 'relative', minHeight: '100%', display: 'flex', flexDirection: 'column' }}>
      <slot />
    </div>
  </body>
</html>
<style is:global>
  @font-face {
    font-family: 'Shantell Sans';
    src: url('/fonts/shantell-sans.woff2') format('woff2-variations');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  :root {
  }

  html,
  body {
    font-family: 'Crimson Pro', serif;
    overflow-x: hidden;
    position: relative;
  }

  h1,
  h2,
  h3 {
    font-family: 'Shantell Sans', system-ui, sans-serif;
    font-variation-settings: 'BNCE' -50, 'wght' 500;
  }

  .main {
    margin: 0 auto;
    padding: 1.5rem 3rem;
    padding-bottom: 0;
    max-width: 650px;
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 18px;
    min-height: 100%;
    flex-grow: 1;
  }
  .section {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
  }
  a {
    color: #a05a39;
  }
  h2,
  h3 {
    font-weight: 500;
  }
  ul {
    list-style-image: url('../images/bullet.svg');
    padding-left: 28px;
  }

  .markdown p:not(:first-of-type) {
    margin: 16px 0;
  }
  .markdown h1,
  .markdown h2,
  .markdown h3,
  .markdown h4 {
    margin: 8px 0;
  }

  .doodle {
    border-style: solid;
    border-width: 5px 5px 5px 5px;
    border-image: url('../images/doodle-border.svg') 5 5 5 5 stretch stretch;
  }

  button.doodle {
    border-style: solid;
    border-width: 5px 5px 5px 5px;
    border-image: url('../images/doodle-border.svg') 5 5 5 5 stretch stretch;
  }

  input[type='text'].doodle {
    border-style: solid;
    border-width: 5px 5px 5px 5px;
    border-image: url('../images/doodle-border.svg') 5 5 5 5 stretch stretch;
    background: unset;
  }

  textarea.doodle {
    border-style: solid;
    border-width: 4px 4px 4px 4px;
    border-image: url('../images/doodle-border.svg') 10 10 10 10 stretch stretch;
    background: unset;
  }

  .bg-image {
    position: absolute;
    z-index: -1;
    object-fit: contain;
    height: auto;
    opacity: 0.1;
    user-select: none;
  }

  @media (max-width: 712px) {
    .main {
      padding: 1.5rem;
    }
  }

  /*
  RESET
  */
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  * {
    margin: 0;
  }
  html,
  body {
    height: 100%;
  }
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  img,
  picture,
  video,
  canvas,
  svg {
    display: block;
    max-width: 100%;
  }
  input,
  button,
  textarea,
  select {
    font: inherit;
  }
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    overflow-wrap: break-word;
  }
  .main {
    isolation: isolate;
  }
</style>
